/* .box{
    width: 100px;
    height: 100px;
}

.clr{
    clear: both;
}

.red{
    background: red;
    float: right;
}


.blue {
    background: blue;
}


.green{
    background-color: green;
}


.yellow{
    background: yellow;
} */

/* 
.container{
    width: 90%;
    height: 300px;
    margin: auto;
}


.item{
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 2.5%;
}

.item-icon{
    float: left;
    width: 20%;
    height: 100%;
}

.item-icon img{
    margin-top: 10px;
}

.item-content{
    float: left;

    width: 80%;
    height: 100%;
} */


/* 
.container{
    width: 90%;
    height: 600px;
    margin: auto;
}

.item-content{
    width: 50%;
    height: 100%;
    float: left;
}

.item-content ul li {
    list-style-image: url("img/list.png");
}
.item-content h2{
    margin-top: 20%;
}

.item-content button{
    padding: 15px 30px;
    border: none;
    background: green;
    color: white;
    font-weight: bolder;
}


.item-content button:hover{
    background: black;
}

.item-img{
    width: 50%;
    height: 100%;
    float: left;
}

.item-img img{
    width: 100%;
    height: 100%;
} */


/* padding */

/* .box{
    width: 300px;
    height: 300px;
    background: burlywood;
    padding: 10px 20px 30px 40px;
} */

/* .content{
    min-width: 300px;
    max-width: 500px;
    max-height: 1000px;
    min-height: 200px;
} */

.navbar{
    width: 90%;
    height: 80px;
    background: grey;
    margin: auto;
}

.navbar-logo{
    width: 20%;
    height: 100%;
    float: left;
}

.navbar-links{
    width: 50%;
    height: 100%;
    float: right;
}

.navbar-links ul li {
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    list-style-type: none;
}

.navbar-links ul li a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}


/* .box{
    width: 300px;
    height: 300px;
    background: gold;
    overflow: hidden;
}

.child{
    width: 100px;
    height: 100px;
    background: gray;
    margin-top: 200px;
} */