/* .heading-color{
    color:blueviolet;
} */


/* .box{
    background: red;
    width: 100px;
    height: 100px;

    margin: 10px 20px 30px 40px;
}

.box-two{
    background: green;
    width: 100px;
    height: 100px;
} */


/* .inline{
    display: inline;
} */



/* .box{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.red{
    background: red;
}

.blue {
    background: blue;
} */


/* h1{
    width: 100px;
    height: 100px;
    background: brown;
    display: inline-block;
} */

/* .container{
    margin: auto;   
    width: 90%;
    height: 300px;
}

.item{
    width: 30%;
    height: 100%;
    display: inline-block;
    margin-left: 2.5%;
} */

/* 

.container{
    width: 90%;
    height: 500px;
    background: gainsboro;
    margin: auto;
}

.item{
    display: inline-block;
    height: 100%;
    width: 30%;
    margin-left: 2%;
    background: gold;
}

.item-img{
    width: 100%;
    height: 50%;
    background: hotpink;
}

.item-img img {
    width: 100%;
    height: 100%;
}


.item-content{
    width: 100%;
    height: 50%;
    background: green;
} */


.container{
    width: 90%;
    height: 300px;
    background: gold;
    margin: auto;
}

.item{
    width: 30%;
    height: 100%;
    background: hotpink;
    display: inline-block;
    margin-left: 2%;
}


.item-img{
    display: inline-block;
    width: 18%;
    height: 100%;
    background: aqua;
}


.item-content{
    display: inline-block;
    width: 80%;
    height: 100%;
    background: green;
}