@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cairo:wght@500&display=swap');
:root{
    --font:'Alata', sans-serif;
    --second-font:'Alata', sans-serif;

    --color:red;
    --dark:black;
    --light:gray;
}
body{
    font-family: var(--font);
}

/* @media (min-width:700px) and (max-width:900px) {
    body {
        background: red;
    }
}

@media (min-width:500px) and (max-width:700px) {
    body {
        background: green;
    }
} */


.container{
    width: 90%;
    height: 300px;
    background: gold;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item{
    background: gray;
    width: 22%;
    height: 100%;
}


@media (min-width:600px) and (max-width:900px) {
    .item{
        background: gray;
        width: 45%;
        height: 100%;
    }
}


@media (min-width:500px) and (max-width:600px) {
    .item{
        background: gray;
        width: 90%;
        height: 100%;
    }
}


.container{
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    height: 100%;
}